/*{
  border:2px solid red;
}*/

.header {
    display:flex;
    border: 0;
    flex: 1;
}

  .header .header_logo {
    
    font-size: 24px;
    color: #F9FAF8;
    text-align: right;
    padding-left: 250px;
   }
   
  .header div {
    display: flex;
    text-align: right;
    background:#1F2937;
    color: #E5E7EB;
    font-family: sans-serif;
    padding-bottom: 50px;
    padding-left:350px;
    padding-right:540;
    font-size:18px;
    flex: 1;
  }

.header_xtention
 {
    display: flex;
    text-align: left;
    background:#1F2937;
    color: #F9FAF8;
    font-family: sans-serif;
    font-size:28px;
    padding-top: 100px;
    padding-left: 250px;
    padding-bottom: 100px;

}
  
  .place_holder {
    display: flex;
    text-align: justify;
    background:#E5E7EB;
    color: gray;
    font-family: sans-serif;
    font-size:28px;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 50px;
}

  .random_text
{
  text-align: center;
  font-family: sans-serif;
  font-size: 28px;
}
  .image_placeholder 

  {
    display: flex;
    padding-left: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .box1 
{
  margin: 10px;
  display: flex;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  border: 1px solid blue;
  
}
.box2
{
  margin: 10px;
  display: flex;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  border: 1px solid blue;
}
.box3
{
  margin: 10px;
  display: flex;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  border: 1px solid blue;
}

.box4
{
  margin: 10px;
  display: flex;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  border: 1px solid blue;
}
.place_holder1
{
  padding-top: 210px;
  margin: 10px;
  font-family: sans-serif;
  font-size: 15px;
  text-align:center;
}
.place_holder2
{
  padding-top: 210px;
  margin: 10px;
  font-family: sans-serif;
  font-size: 15px;
  text-align:center;
}
.place_holder3
{
  padding-top: 210px;
  margin: 10px;
  font-family: sans-serif;
  font-size: 15px;
  text-align:center;
}
.place_holder4
{
  padding-top: 210px;
  margin: 10px;
  font-family: sans-serif;
  font-size: 15px;
  text-align:center;
}

.quote
{
  margin: 10px;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 110px;
  padding-bottom: 110px;
  margin: 10px;
  font-size: 36px; 
  font-style: italic; 
  background:#E5E7EB;
  color: #1F2937;
}
.call_to_action 
{
  color: white;
  font-family: sans-serif;
  font-size:28px;
  margin-top: 100px;
  margin-left: 550px;
  padding-left: 50px;
  padding-right:50px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  width: 1000px;
  height: 100px;
  background-color: blue;
}


